.FormaContainer{
  margin: 50px auto;
  width: 500px;
  height: 800px;
  background-color: var(--bojaNavigacije);
  transition: background-color 0.2s;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--bojaSenke) 0px 8px 24px;
  padding-top: 100px;
}
label{
  color:var(--bojaSlovaBitno);
}
@media only screen and (max-width:764px){
.FormaContainer{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.TeloContainer{
    width: calc(100% - 40px);
}
.NavLink{
  margin: 0;
  line-height: 18px;
}
}
